.menu__bar {
    margin: 20px 50px;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-weight: bold;

}

.menu__bar>li {
    display: inline-block;
    margin: 5px 65px;
}

.menu__bar .menu__bar__dropdown {
    position: absolute;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 1s, height 1s;
}

.menu__bar .menu__bar__dropdown li {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

li:hover .menu__bar__dropdown {
    height: 500px;
    opacity: 1;
    transition: opacity 2s, height 1s;
}

/*010*/
.wrapper {
    width: 70%; /*Задаем ширину родителя*/
    padding: 2%; /*Внутренний отступ*/
    margin: 0 auto; /*Внешний отступ*/
}

 /*-----------Clearfix----------*/
.card::after {
    content: "";
    display: table;
    clear: both;
}
 /*-----------Clearfix----------*/

  /*010*/
.card__item {
    width:30.5%;  /*Задаем ширину карточек*/
    padding: 1%;  /*Внутренний отступ*/
    margin: 1%;  /*Внешний осттуп*/
    float: left;  /*Обтикание по левой стороне, чтобы выстроять карточки друг за другом*/
    border: 1px solid rgb(162, 162, 162);  /*Задаем границу для карточек*/
}

 /*010*/
.card__img {
    width: 100%;  /*Задаем ширину и высоту, чтобы картинки были одного размера и не вылазили за границы*/
}

del {
    font-weight: normal;;
}
em {
    color: rgb(151, 27, 27);
}
 /*010*/
.card__heading {
    text-align: center;  /*Выравниваем заголовок по центру*/
    font-size: 20px;  /*Увеличиваем размер шрифта*/
    font-weight: bold;  /*Делаем текст жирным*/
}

 /*010*/
.card__main {
    margin: 10px auto;  /*Выравниваем инфо о карточках по центру, задаем отступы для верха и низа*/
    text-align: center;  /*Центрируем текст*/
}

 /*010*/
.card__desc {
    margin: 10px 60px;  /*За счет отступов выравниваем текст с картинкой*/
    text-align: left;  /*Выравнивание текста по левой стороне*/
}

 /*001*/
strong {
    font-weight: bold;  /*С помощью тега стронг сделал первые слова жирными*/
}

 /*010*/
.card__price {
    margin: 10px auto 16px;  /*Внешние отступы для размещения цены*/
    padding: 5px;  /*Внутренний отступ для ценника*/
    font-size: 18px;  /*Задаем шрифт цене*/
    font-weight: bold;  /*Делаем ценник жирным*/
}

 /*010*/
.card__btn {
    text-decoration: none;  /*Убираем нижнее подчеркивание у ссылки*/
    border: 1px solid black;  /*Задаем границу для кнопки*/
    padding: 2%; /*Внутренний отступ*/
    border-radius: 5px; /*Закругление границ*/
    background-color: rgb(198, 198, 198); /*Задаем цвет фона кнопки*/
    color: black; /*Цвет текста*/
    transition: 0.3s; /*Скорость анимации для ховера*/
    box-shadow: 3px 3px #888888; /*Задаем тени для кнопки*/
}

 /*011*/
.card__btn:hover {
    background-color:rgb(255, 255, 255); /*Смена фона при наведении на кнопку*/
    box-shadow: none; /*Убираем тени при наведении на кнопку*/
}

 /*010*/
.card__footer {
    text-align: center; /*Выравниваем всё, что в футере, по средине*/
}

 /*001*/
ul {
    margin: 10px; /*Внешнии отступы для списка*/
}

 /*001*/
li {
    display: inline; /*Выравнивание списка в одну строку*/
    margin: 1%;
}

 /*010*/
.star__rating {
    width: 20px; /*Задаем размер иконок*/
    margin: 16px auto 5px; /*Внешние отступы*/
}